/* Blocco Lezioni */
@media screen and (max-width: 420px) {
  #lezioni.container .row{
    background-color: #f2f2cd;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 420px) {
  #lezioni .row>.left, #lezioni .row>.right{
    width: 100%;
  }
}







/* Blocco Steps */
@media screen and (max-width: 420px) {
  #steps.container .row{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 420px) {
  #steps .row>.left, #steps .row>.central, #steps .row>.right{
    width: 100%;
  }
}



/* Blocco Why */
@media screen and (max-width: 420px) {
  #why.container .row{
    background-color: #f2f2cd;
  }
}

@media screen and (max-width: 420px) {
  #why .row>.first, #why .row>.second, #why .row>.third{
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  #why.container img{
    height: 120px;
    padding: 50px;
  }
}







@media screen and (max-width: 420px) {
  .row>.left, .row>.central, .row>.right, .row>.first, .row>.second, .row>.third{
    font-size: 26px;
  }
}

@media screen and (max-width: 420px) {
  .row {
    margin-top: 0;
    padding: 20px 0;
  }
} 


@media screen and (max-width: 420px) {
  img {
    padding-top: 25px;
  }
} 

@media screen and (max-width: 420px) {
  h1 {
    font-size: 55px;
    margin: 0 0;
  }
} 

@media screen and (max-width: 420px) {
  h3 {
    font-size: 33px;
    margin: 0 0;
  }
}

